body {
  background-color: white;
  color: black;
}

h1 {
  color: blue;
}
nav {
  background-color: #eee;
  padding: 10px;
  margin-bottom: 20px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

